<h1>SrEnvio Labels</h1>

<table class='table'>
  <thead class='thead-dark'>
    <tr>
      <th scope='col'>Tracking Number</th>
      <th scope='col'>Carrier</th>
      <th scope='col'>Length</th>
      <th scope='col'>Width</th>
      <th scope='col'>Height</th>
      <th scope='col'>Weight</th>
      <th scope='col' style='color:red'>Total Weight</th>
      <th scope='col' style='color:red'>Unit</th>
      <th colspan="3"></th>
    </tr>
  </thead>
 
  <tbody>
    <% @labels.each do |label| %>
      <tr>
        <td><%= label.tracking_number %></td>
        <td><%= label.carrier %></td>
        <td><%= label.length %></td>
        <td><%= label.width %></td>
        <td><%= label.height %></td>
        <td><%= label.weight %></td>
        <td style='color:red'><%= label.total_weight %></td>
        <td style='color:red'><%= label.mass_unit %></td>
      </tr>
    <% end %>
  </tbody>
</table>


